<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>
</head>
<body>
    <div class="signup" style="text-align: center">
        <h1 style="text-align: center">SIGN UP</h1>
        
        <form action = "/API_USER/user/sign_up" method = "post">
            NAME: <input type = "text" name = "user_name" placeholder = "Please enter Name"> <br> 
            ID: <input type = "text" name = "user_Id" placeholder = "Please enter ID"> <br> 
            PASSWORD: <input type = "password" name = "user_pw" placeholder = "Please enter Password"> <br> 
            E-mail: <input type = "text" name = "user_email" placeholder = "Please enter E-mail"> <br> 
            <input type ="submit" value= "SIGN UP">  
        </form>
        
        <!-- <form name="signin_id" action="" method="post">
            NAME : <input type="text" name="user_name" value="" placeholder="Please enter Name.">
        </form>
        
        <form name="signin_id" action="" method="post">
            ID : <input type="text" name="user_Id" value="" placeholder="Please enter ID.">
        </form>
        
        <form name="signin_pw" action="" method="post">
            PASSWORD : <input type="password" name="user_pw" value="" placeholder="Please enter Password.">
        </form>
       
        <form name="signin_email" action="" method="post">
            E-mail : <input type="emil" name="user_email" value="" placeholder="Please enter E-mail.">
        </form>
          -->
    
    </div>
</body>
</html>