<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign In</title>
</head>
<body>
    <div class="sign-in" style="text-align: center">
        <h1 style="text-align: center">SIGN IN</h1>
        
        <form name="signin_id" action="" method="post">
            ID : <input type="text" name="user_name" value="" placeholder="Please enter ID.">
        </form>
        <form name="signin_pw" action="" method="post">
            PASSWORD : <input type="password" name="user_pw" value="" placeholder="Please enter Password.">
        </form>
         <button type="submit"> Sign In </button>
    </div>
</body>
</html>